

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

h1 {
    font-family: "SEGA LOGO FONT";
    color: rgba(144, 210, 132, 0.64) ;
    font-stretch: ultra-expanded ;
    
};
h2{
    color: rgb(9, 23, 45);
}